{% load i18n staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Appchance employee demo - Arkadiusz Bienert</title>

    {% block stylesheets %}
      <link href="{% static "3rdparty/css/bootstrap.min.css" %}" rel="stylesheet">
      <link href="{% static "3rdparty/css/font-awesome.min.css" %}" rel="stylesheet">
      <link href="{% static "css/appchance.css" %}" rel="stylesheet">
    {% endblock stylesheets %}
    {% block scripts-head %}
    {% endblock scripts-head %}
  </head>

  <body>
    {% block top_navbar %}
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url "mainform" %}">Demo - Arkadiusz Bienert</a>
          </div>
        </div>
      </nav>
    {% endblock top_navbar %}

    <div class="container-fluid">
      {% block container %}
      {% endblock container %}
    </div>

    <script src="{% static "3rdparty/js/jquery.min.js" %}" />
    <script src="{% static "3rdparty/js/bootstrap.min.js" %}" />
    <script>
        var CSRF_TOKEN = '{{ csrf_token|escapejs }}';
    </script>

    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
