{% extends "base.html" %}
{% load i18n %}

{% block container %}
<div class="container col-md-6 col-md-offset-3">
  <h2>{% trans "Search Query Report" %}</h2>
  {% if invalid_url %}
      <div class="alert alert-danger" role="alert">
        {% trans "Please enter a search query" %}
      </div>
  {% endif %}

  <form action="{% url "mainform" %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <input type="text" class="form-control" id="query" placeholder="{% trans "Enter a search query" %}" name="query" value="{{ form.query.value }}">
    </div>

    <button type="submit" class="btn btn-primary">{% trans "Next" %}</button>
  </form>
</div>

{% endblock container %}
