{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% block container %}
<div class="container col-md-12">
    <h2 class="text-center">{% trans "Search Query Report" %} - {{ query }}</h2>
    {% if does_not_exist %}
    <div class="alert alert-danger" role="alert">
        {% trans "Requested results don't exist" %}
    </div>
    {% endif %}

    {% if job_status == 3 %}
    <div class="alert alert-danger" role="alert">
        {% trans "Error occured while processing the request" %}
    </div>
    {% endif %}

    {% if not results %}
    <div class="alert alert-success" role="alert">
        {% trans "Please wait while we prepare your results..." %}
    </div>
    {% endif %}

    {% if results %}
        <div class="row">
            <div class="col-md-6">
                <h4>Search results (total: {{ results.hits|intcomma }})</h4>
                <table id="resultsTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th>{% trans "SERP Position" %}</th>
                            <th>{% trans "Entry" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in results.searchresults %}
                        <tr>
                            <td>{{ entry.pos }}</td>
                            <td>
                                <h4><a href="{{ entry.url }}" target="_blank">{{ entry.title }}</a></h3>
                                {{ entry.description }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h4>Top 10 keywords in results</h4>
                <table id="topWords" class="table table-hover">
                    <thead>
                        <tr>
                            <th>{% trans "Term" %}</th>
                            <th>{% trans "Count" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in results.topwords %}
                        <tr>
                            <td>{{ entry.0 }}</td>
                            <td>{{ entry.1 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

</div>

{% endblock container %}

{% block scripts %}
{% if not results %}
    <script charset="utf-8">
        // reload after a while
        setTimeout(function() {
            window.location.reload();
        }, 2000);
    </script>
{% endif %}
{% endblock scripts %}
