body {
	padding-top: 70px;
}

.main-menu {
	padding-left: 0;
	padding-right: 0;
}

.main-menu ul li a {
	padding-left: 40px;
}

.main-menu ul li a span {
	float: left;
	margin-left: -25px;
	line-height: inherit;
}

.main-menu .nav-submenu {
	margin-left: 25px;
	font-size: 13px;
}

.main-menu .nav-submenu a {
	padding-left: 16px;
	background-color: #dcefff;
}

.btn:focus {
	outline: none;
}

.footer a {
	padding-right: 5px;
}

.double-line {
	line-height: 3.0em;
}
